# Dependências (nunca envie a pasta node_modules)
node_modules/
jspm_packages/

# Logs de erro e de execução
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Arquivos de Variáveis de Ambiente (SEGURANÇA!)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Builds e saídas de compiladores (Dist/Build)
dist/
build/
.next/
out/
.cache/

# IDEs e Editores (VS Code, WebStorm, etc)
.vscode/
.idea/
*.swp
*.scratch

# Sistema Operacional
.DS_Store
Thumbs.db