body {
  text-align: center;
  font-family: "Comic Sans MS", cursive;
  background: linear-gradient(135deg, #ffecd2, #fcb69f);
}

/* MENU */
#menu {
  margin-top: 100px;
}

h1 {
  font-size: 40px;
  color: #ff4081;
}

button {
  padding: 15px 30px;
  font-size: 20px;
  border: none;
  border-radius: 15px;
  background: #4caf50;
  color: white;
  cursor: pointer;
}

button:hover {
  background: #45a049;
}

/* JOGO */
#jogo {
  width: 800px;
  height: 400px;
  background: #fff8dc;
  margin: auto;
  position: relative;
  overflow: hidden;
  border: 4px dashed #ff9800;
  border-radius: 15px;
}

/* PLAYER (MÃO) */
#player {
  width: 70px;
  height: 70px;
  position: absolute;
  bottom: 10px;
  left: 365px;
}

#player img {
  width: 100%;
}

/* PALAVRAS */
.palavra {
  position: absolute;
  top: 0;
  background: #ffeb3b;
  padding: 8px;
  border-radius: 10px;
  font-weight: bold;
  text-align: center;
  width: 80px;
}

.palavra img {
  width: 40px;
  display: block;
  margin: auto;
}

/* ANIMAÇÃO */
@keyframes coletar {
  0% { transform: scale(1); opacity: 1; }
  50% { transform: scale(1.5); opacity: 0.7; }
  100% { transform: scale(0); opacity: 0; }
}

.coletado {
  animation: coletar 0.3s forwards;
}

/* TELA FINAL */
#telaFinal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #ff9a9e, #fad0c4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#telaFinal h1 {
  font-size: 40px;
  color: white;
  margin-bottom: 20px;
}